%h2
  = resource_name.to_s.humanize
  編集
= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, required: true, label: "名前"
    = f.input :email, required: true, label: "メールアドレス"
    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      %p
        Currently waiting confirmation for: #{resource.unconfirmed_email}
    = f.input :password, label: "パスワード", hint: "変更しない場合は空白にしてください", required: false, input_html: { autocomplete: "new-password" }
    = f.input :password_confirmation, label: "パスワードの確認", required: false, input_html: { autocomplete: "new-password" }
    = f.input :current_password, label: "現在のパスワード", hint: "変更するために現在のパスワードが必要です", required: true, input_html: { autocomplete: "current-password" }
  .form-actions
    = f.button :submit, "更新する", class: "btn btn-primary"
    = link_to "削除する", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary"
= link_to "企業一覧へ", root_path
