.container
  .comapany_summary
    %h2= @company.name
    = image_tag "#{@company.image.url}"
  .reviews
    - @company.reviews.each do |review|
      - if review.user.present?
        = review.comment
        = review.user.name
  .review_form
    = form_for Review.new, url: company_reviews_path(@company) do |f|
      %h3 投稿する
      .field
        = f.label :"レビュー"
        = f.text_area :comment
        = f.submit "投稿", class: "btn btn-primary"
.back_home
  = link_to "企業一覧へ", root_path